<table id="grid">
  <% @game.winning_rows.each do |x| %>
    <tr>
      <% x.each do |y| %>
      <td><%= button_to "#{@moves.where(position: y).first.marker rescue nil}", make_move_path(position: y), class: "button" %></td>
      <% end %>
    </tr>
  <% end %>
</table>

