<h1>All games</h1>

<table>
  <tr>
    <th>Player 1 name</th>
    <th>Player 2 Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= game.player_1.name %></td>
      <td><%= game.player_2.name rescue nil %></td>
      <td><%= game.outcome  %></td>
    </tr>
  <% end %>

</table>
